<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src=<%=userObj.url%> alt="Student">
    <br><%=userObj.url%>
    <h3>Username:<%= userObj.username%></h3>
    <p>Erp ID : <%= userObj.userId %></p>
    <p>Year: <%= userObj.Year %></p>
    <p><strong>Status: Valid User</strong></p>
</body>
</html>